<?xml version="1.0"?>
<robot name="robot" xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="camera" params="r p w x y z name parent">
    <joint name="${name}_link_joint" type="fixed">
      <origin rpy="${r} ${p} ${w}" xyz="${x} ${y} ${z}"/>
      <parent link="${parent}"/>
      <child link="${name}_link"/>
    </joint>
    <joint name="${name}_frame_joint" type="fixed">
      <origin rpy="0 0 0.05" xyz="0 0 0"/>
      <parent link="${name}_link"/>
      <child link="${name}_frame"/>
    </joint>
    <joint name="${name}_optical_frame_joint" type="fixed">
      <origin rpy="0 1.57080 0" xyz="0 0 0"/>
      <parent link="${name}_frame"/>
      <child link="${name}_optical_frame"/>
    </joint>
  
    <link name="${name}_link">
        <visual name="${name}_link_visual">
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <material name="camera_black"/>
            <geometry>
                <box size="0.1 0.1 0.1"/>
            </geometry>
        </visual>
    </link>
    <link name="${name}_frame"></link>
    <link name="${name}_optical_frame"/>
    <gazebo reference="${name}_frame">
      <sensor name="${name}_sensor" type="camera">
        <visualize>true</visualize>
        <update_rate>30</update_rate>
        <topic>/${name}/image</topic>
        <camera>
          <horizontal_fov>${radians(float(80))}</horizontal_fov>
          <image>
            <width>1280</width>
            <height>720</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.10</near>
            <far>15.0</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
          <optical_frame_id>${name}_frame</optical_frame_id>
        </camera>
      </sensor>
    </gazebo>
  </xacro:macro>

  <material name="camera_black">
    <color rgba="0.00000 0.00000 0.00000 1.00000"/>
  </material>
</robot>